<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
			<p class="lead">
				Welcome to the Inventory System!
			</p>
			<p>
				<ul class="list-unstyled action-list">
					<li>
						<a class="btn btn-primary btn-md" href="/#!/inventory">Inventory</a>
					</li>
					<li>
						<a class="btn btn-primary btn-md disabled" href="/#!/kits">Kits</a>
					</li>
					<li>
						<a class="btn btn-primary btn-md disabled" href="/#!/systems">Systems</a>
					</li>
				</ul>
			</p>
	</div>	
	
	<!--<div style="position: relative">
        <p style="position: fixed; bottom: 0; width:50%; text-align: left"># of Kits</p>	
	</div>	
	<div style="position: relative">
        <p style="position: fixed; bottom: 0; width:82%; text-align: right"># of Systems</p>
    </div>-->
</section>
