<section data-ng-controller="InventoryController" data-ng-init="find()">
<div class="page-header">
    <h1>Parts</h1>
</div>
<div class="list-group">
    <table class="list-group-item-text" style="width:100%">
        <tr>
            <td>Title</td>
            <td>Category</td>
            <td>Vendor</td>
            <td>Vendor Part Number</td>
            <td>Manufacturer</td>
            <td>Manufacturer Part Number</td>
            <td>Price</td>
            <td>GX5 Amount</td>
            <td>GX35 Amount</td>
            <td>Quantity</td>
        </tr>
        <tr data-ng-repeat="partType in inventory" >
            <td class="list-group-item-text" data-ng-bind="partType.partName">{{partType.partName}}</td>
            <td class="list-group-item-text" data-ng-bind="partType.category"></td>
            <td class="list-group-item-text" data-ng-bind="partType.vendor"></td>
            <td class="list-group-item-text" data-ng-bind="partType.vndrPartNmbr"></td>
            <td class="list-group-item-text" data-ng-bind="partType.manufacturer"></td>
            <td class="list-group-item-text" data-ng-bind="partType.mnfPartNmbr"></td>
            <td class="list-group-item-text" data-ng-bind="partType.price"></td>
            <td class="list-group-item-text" data-ng-bind="partType.GX5_amount"></td>
            <td class="list-group-item-text" data-ng-bind="partType.GX35_amount"></td>
            <td class="list-group-item-text" data-ng-bind="partType.quantity"></td>
            <td><a class="btn btn-primary" data-ng-submit="add(partType)">Add</a></td>
        </tr>
    </table>
</div>
<div class="alert alert-warning text-center" data-ng-if="partType.$resolved && !partType.length">
    No parts yet, why don't you <a href="/#!/inventory/create">create one</a>?
</div>
</section>
