<section data-ng-controller="InventoryController" data-ng-init="find()">
	<div class="page-header">
		<h1>Create A New Part</h1>
	</div>
	<div>
		<form ng-submit="create()">
			<div class="form-group">
			<strong>Category:</strong>
			<div class="radio">
				<label><input type="radio" ng-model="Category" value="maincomponent" id="category1" checked> Main Component</label><br>
				<label><input type="radio" ng-model="Category" value="fastener" id="category2"> Fasteners and Mounting Hardware</label><br>
				<label><input type="radio" ng-model="Category" value="cable" id="category3">  Cables and Wires </label><br>
				<label><input type="radio" ng-model="Category" value ="label" id="category4"> K-sun Labels </label><br>
				<label><input type="radio" ng-model="Category" value="external" id="category5"> External Components</label><br>

			</div>
			<div class="form-group">
				<label for="partName">Part Name: </label><input class="form-control" ng-model="partName" type="text" name="partName" id="partName" />
			</div>
			<div class="form-group">
				<label for="vendor">Vendor: </label><input class="form-control" ng-model="Vendor" type="text" name="Vendor" id="vendor" />
			</div>
			<div class="form-group">
				<label for="vndrPartNmbr">Vendor Part Number: </label><input class="form-control" ng-model="vndrPartNmbr" type="text" name="vndrPartNmbr" id="vndrPartNmbr" />
			</div>
			<div class="form-group">
				<label for="manufacturer">Manufacturer: </label><input class="form-control" ng-model="Manufacturer" type="text" name="Manufacturer" id="manufacturer"/>
			</div>
			<div class="form-group">
				<label for="mnfPartNmbr">Manufacturer Part Number: </label> <input class="form-control" ng-model="mnfPartNmbr" type="text" name="mnfPartNmbr" id="mnfPartNmbr" />
			</div>
			<div class="form-group">
				<label for="price">Price (US Dollars): </label> <input class="form-control" type="text" ng-model="price" name="price" id="price" />
			</div>
			<div class="form-group">
				<label for="amount">Quantity (per system):  <input class="form-control" type="text" ng-model="amount" name="amount" id="amount" />
			</div>
		</form>
	</div>

	<div class="form-group">
		<input id="create-event-button" type="submit" class="btn btn-default">
	</div>
</section>
