<section data-ng-controller="InventoryController" data-ng-init="find()">
<div class="page-header">
    <h1>Inventory</h1>
</div>
<div>
    <table class="table table-striped table-bordered table-hover" id="inventory_table">
        <thead>
			<tr>
				<th>Title</th>
				<th>Category</th>
				<th>Vendor</th>
				<th>Vendor Part Number</th>
				<th>Manufacturer</th>
				<th>Manufacturer Part Number</th>
				<th>Price</th>
				<th>GX5 Amount</th>
				<th>GX35 Amount</th>
				<th>Quantity</th>
			</tr>
		</thead>
		<tbody >
			<tr data-ng-repeat="partType in inventory" >
				<td><a data-ng-href="#!/inventory/{{partType._id}}/edit">{{partType.partName}}<a></td>
				<td ng-class="{'dull-field': partType.category == 'N/A'}">{{partType.category}}</td>
				<td ng-class="{'dull-field': partType.vendor == 'N/A'}">{{partType.vendor}}</td>
				<td ng-class="{'dull-field': partType.vndrPartNmbr == 'N/A'}">{{partType.vndrPartNmbr}}</td>
				<td ng-class="{'dull-field': partType.manufacturer == 'N/A'}">{{partType.manufacturer}}</td>
				<td ng-class="{'dull-field': partType.mnfPartNmbr == 'N/A'}">{{partType.mnfPartNmbr}}</td>
				<td>{{partType.price}}</td>
				<td ng-class="{'dull-field': partType.GX5_amount == '0'}">{{partType.GX5_amount}}</td>
				<td ng-class="{'dull-field': partType.GX35_amount == '0'}">{{partType.GX35_amount}}</td>
				<td><a class="btn btn-default btn-xs" ng-class="{disabled: partType.quantity <= 0}"  ng-click="updateQuantity(partType, partType.quantity - 1)">&minus;</a> {{partType.quantity}} <a class="btn btn-default btn-xs" ng-click="updateQuantity(partType, partType.quantity + 1)">&plus;</a></td>
			</tr>
		</tbody>
    </table>
</div>
<div class="alert alert-warning text-center" data-ng-if="partType.$resolved && !partType.length">
   <strong>There are no parts yet.</strong> Why don't you <a href="/#!/inventory/create">create one</a>?
</div>
</section>
